{% extends 'layout.html' %}
{% block content %}

	<section class="container section" id="login">
        <div class="row">
            <div class="col s12 l10 offset-l1">
                <!-- Patient Signup -->
                <div class="col s12">
                    <div class="col s12" id="patient_signup">
                        <p class="flow-text indigo-text text-darken-4">Admin</p>
                        <section class="section container" id="Sign in">
                            <div class="row">
                                <div class="col s12 l10">
                                    <form action="/register_admin" method="post">
                                        <div class="input-field">
                                            <i class="material-icons prefix">perm_identity</i>
                                            <input placeholder="Your name" type="text" id="pat_name" name="{{form_admin.name.name}}">
                                        </div>
                                        <div class="input-field">
                                            <i class="material-icons prefix">email</i>
                                            <input placeholder="Email"type="email" id="pat_email" name="{{form_admin.email.name}}">
                                            <!-- <label for="pat_email">Email</label> -->
                                        </div>
                                        <div class="input-field">
                                            <i class="material-icons prefix">vpn_key</i>
                                            <input placeholder="Password"type="password" id="pat_pass" name="{{form_admin.password.name}}">
                                            <!-- <label for="pat_pass">Password</label> -->
                                        </div>
                                        <div class="input-field">
                                            <i class="material-icons prefix">vpn_key</i>
                                            <input placeholder="Confirm password"type="password" id="pat_con" name="{{form_admin.confirm_password.name}}">
                                            <!-- <label for="pat_con">Confirm password</label> -->
                                        </div>

                                        

                                        <div class="input-field center">
                                            <button class="btn">Sign up</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </section>
                    </div>

{% endblock %}