{% extends 'layout.html' %}
{% block content %}
<script>
    window.onload = function () {

        var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            title: {
                text: "Area-wise pothole distribution"
            },
            data: [{
                type: "pie",
                startAngle: 240,
                yValueFormatString: "##0.00\"%\"",
                indexLabel: "{label} {y}",
                dataPoints: [
                    { y: 40, label: "Mumbai" },
                    { y: 20, label: "Bangalore" },
                    { y: 7.06, label: "Raipur" },
                    { y: 4.91, label: "Goa" },
                    { y: 28.03, label: "Others" }
                ]
            }]
        });
        chart.render();

    }
</script>
<style>
    #ch {
        vertical-align: text-top;
    }

    img {
        margin-top: 5%;
        margin-left: 3%;
    }

    .card {
        padding: 1%;
    }
    button {
        margin-left: 3%;
        /* height: 25px; */
        font-size: small;
        text-align: center;

    }
    /* body {
        background: rgb(2,0,36);
    } */
</style>
<table>
    <tr>
        <td>
            {% for x in report_list %}
            <div class="container py-3">
                <div class="card">
                    <div class="row ">
                        <div class="col-md-4">
                            <img src="/static/p.jpg" class="w-100">
                        </div>
                        <div class="col-md-8 px-3">
                            <div class="card-block px-3">
                                <h5 class="card-title">Location: {{x[1]}} {{x[2]}} - {{x[3]}}, {{x[4]}}</h5>
                                <hr>
                                <p class="card-text">Number of reports: {{x[0]}}</p>
                                <p id="status" class="card-text">Status: <span style="color: red;">Unresolved</span><button type = "button" class = "btn btn-secondary">Send to engineer</button></p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            {% endfor %}
        </td>
        <td id="ch" style="width: 40%;">
            <div id="chartContainer" style="height: 370px; width: 100%;"></div>
        </td>
    </tr>
</table>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script>
    h = document.querySelectorAll("p span");
    for (var i = 0; i < h.length; i++) {
        h[i].addEventListener("click", function () {
            this.style.color = "green";
            this.innerText = "Resolved";
        })
    }
</script>
{% endblock %}